.screen-wrapper {
    margin: 0;
    padding: 0;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.line {
    margin-left: 5%;
    width: 90%;
    border-top: 3px solid #a0a3a3;
}

.test-start-info {
    display: flex;
    margin-left: 5%;
    margin-top: 5px;
}

#dropdown-basic-button {
    margin-left: 5%;
}